In [1]:
#| default_exp data.database.sqlalchemy

In [2]:
from geopy.timezone import from_timezone_name
#| hide
from nbdev.showdoc import *
from pyasn1_modules.rfc3279 import id_fieldType

In [3]:
#| hide
import nbdev; nbdev.nbdev_export()

In [4]:
#| hide
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [5]:
import os
import pandas as pd

In [6]:
from sqlalchemy import MetaData, create_engine, asc, desc, and_, or_, not_, case, extract, cast, text
from sqlalchemy.types import DateTime, Date, Time
from sqlalchemy.schema import *
from sqlalchemy.sql import func as F, Selectable, select
from sqlalchemy.dialects import registry
from sqlalchemy.engine.row import Row
from sqlalchemy.orm import Session

In [7]:
#| export
from google.oauth2 import service_account
from google.oauth2.service_account import Credentials

In [8]:
#| hide
from google.cloud import bigquery
from dotenv import load_dotenv

In [9]:

load_dotenv("../.env")

True

In [10]:
os.environ

environ{'GSM_SKIP_SSH_AGENT_WORKAROUND': 'true',
        'LC_ALL': 'en_US.UTF-8',
        'WINDOWPATH': '2',
        'PATH': '/home/x/.pyenv/versions/miniforge3-latest/envs/prc/bin:/home/x/.pyenv/versions/miniforge3-latest/condabin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/snap/bin',
        'CONDA_PREFIX': '/home/x/.pyenv/versions/miniforge3-latest/envs/prc',
        'LIBVIRT_DEFAULT_URI': 'qemu:///system',
        'LOGNAME': 'x',
        'XDG_CONFIG_DIRS': '/etc/xdg/xdg-cinnamon:/etc/xdg',
        'XAUTHORITY': '/run/user/1000/gdm/Xauthority',
        'XDG_SESSION_ID': '6',
        'CONDA_SHLVL': '1',
        'XMODIFIERS': '@im=ibus',
        'GIO_LAUNCHED_DESKTOP_FILE_PID': '8770',
        'GIO_LAUNCHED_DESKTOP_FILE': '/home/x/Desktop/pycharm.desktop',
        'QT_ACCESSIBILITY': '1',
        'CONDA_DEFAULT_ENV': 'prc',
        'XDG_SEAT': 'seat0',
        'XDG_VTNR': '2',
        'QTWEBENGINE_DICTIONARIES_PATH': '/usr/share/hunspell-bdic/',
        'XDG_SESSION_DESKTOP': 'cinnamon',
        'DBUS_SESSION_BUS_ADDRESS': 'unix:path=/run/user/1000/bus',
        'CONDA_PROMPT_MODIFIER': '(prc) ',
        'USERNAME': 'x',
        'SHLVL': '0',
        'XDG_DATA_DIRS': '/usr/share/gnome:/usr/share/cinnamon:/usr/share/gnome:/home/x/.local/share/flatpak/exports/share:/var/lib/flatpak/exports/share:/usr/local/share/:/usr/share/:/var/lib/snapd/desktop',
        'SHELL': '/usr/bin/zsh',
        'PYTHONPATH': '/home/x/projects/pricing',
        'GTK_IM_MODULE': 'ibus',
        'SESSION_MANAGER': 'local/l:@/tmp/.ICE-unix/4916,unix/l:/tmp/.ICE-unix/4916',
        'XDG_SESSION_CLASS': 'user',
        'GTK_MODULES': 'gail:atk-bridge',
        'DISPLAY': ':1',
        'HOME': '/home/x',
        'XDG_CURRENT_DESKTOP': 'X-Cinnamon',
        'DEBUGINFOD_URLS': 'https://debuginfod.ubuntu.com ',
        'QT_IM_MODULE': 'ibus',
        'LANG': 'en_US.UTF-8',
        'GDMSESSION': 'cinnamon',
        'GNOME_DESKTOP_SESSION_ID': 'this-is-deprecated',
        'CLUTTER_IM_MODULE': 'ibus',
        'GTK3_MODULES': 'xapp-gtk3-module',
        'LANGUAGE': '',
        'SSH_AUTH_SOCK': '/run/user/1000/keyring/ssh',
        'XDG_RUNTIME_DIR': '/run/user/1000',
        'GDAL_DATA': '/home/x/.pyenv/versions/miniforge3-latest/envs/prc/share/gdal',
        'GPG_AGENT_INFO': '/run/user/1000/gnupg/S.gpg-agent:0:1',
        'DESKTOP_SESSION': 'cinnamon',
        'USER': 'x',
        'XDG_SESSION_TYPE': 'x11',
        'PWD': '/home/x/projects/pricing',
        'JPY_SESSION_NAME': 'nbs/01.data.database.sqlalchemy.ipynb',
        'JPY_PARENT_PID': '9913',
        'PYDEVD_USE_FRAME_EVAL': 'NO',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'FORCE_COLOR': '1',
        'CLICOLOR_FORCE': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://matplotlib_inline.backend_inline',
        'GC_QUOTE_API_CREDENTIALS': 'res/quote-api-365206-39d39b2fde07.json',
        'HTTP_PROXY': 'http://127.0.0.1:20171',
        'HTTPS_PROXY': 'http://127.0.0.1:20171'}

In [11]:
# os.getenv('GC_QUOTE_API_CREDENTIALS')
# os.getenv('HTTP_PROXY')
# os.getenv('HTTPS_PROXY')

In [12]:
# config = dotenv_values("../.env")
# key = config.get('GC_QUOTE_API_CREDENTIALS')
key = os.getenv('GC_QUOTE_API_CREDENTIALS')

In [13]:
credential = service_account.Credentials.from_service_account_file("../" + key)

In [14]:

#os.environ['HTTP_PROXY'] = "http://127.0.0.1:20171"
#os.environ['HTTPS_PROXY'] = "http://127.0.0.1:20171"
#os.environ['http_proxy'] = "http://127.0.0.1:20171"
#os.environ['https_proxy'] = "http://127.0.0.1:20171"

In [15]:
registry.register('bigquery', 'sqlalchemy_bigquery', 'BigQueryDialect')
engine = create_engine('bigquery://quote-api-365206',
                       credentials_path='../' + key,)

In [16]:
metadata = MetaData()
def get_table(project_name: str, dataset_name: str, table_name: str)-> Table:
    table = Table(f'{project_name}.{dataset_name}.{table_name}', metadata, autoload_with=engine)
    return table

In [17]:
# table = get_table('quote-api-365206', 'report', 'ride_dispatch_v')

In [18]:
# query = select(table).limit(20).where(table.c.ride_stat == 'Accepted').order_by(asc(table.c.ride_id))
# df = pd.read_sql(query, engine)
# df

In [19]:
# table = get_table('elife-data-warehouse-prod', 'ods', 'ride_ride')

In [20]:
# table

In [21]:
# query = select(table).where(table.c.airport_code3 == 'JFK').limit(20)

In [22]:
# df = pd.read_sql(query, engine)
# df

# find all tables in the database

In [23]:
ride_trip_t = get_table('elife-data-warehouse-prod','ods', 'ride_trip').alias()
ride_dispatch_t = get_table('elife-data-warehouse-prod','ods', 'ride_dispatch').alias()
ride_enum_t = get_table('elife-data-warehouse-prod','ods', 'ride_enum').alias()
ride_ride_t = get_table('elife-data-warehouse-prod','ods', 'ride_ride').alias()
ride_partner_tran_t = get_table('elife-data-warehouse-prod','ods', 'ride_partner_tran').alias()
ride_partner_t = get_table('elife-data-warehouse-prod','ods', 'ride_partner').alias()
dim_place_t = get_table('elife-data-warehouse-prod','dim', 'dim_place').alias()
ride_vehicle_class_t = get_table('elife-data-warehouse-prod','ods', 'ride_vehicle_class').alias()

In [24]:
auction_ride_t = get_table('elife-data-warehouse-prod','ods', 'ride_auction_ride').alias()
auction_fleet_t = get_table('elife-data-warehouse-prod','ods', 'ride_auction_fleet').alias()
ride_fleet_t = get_table('elife-data-warehouse-prod','ods', 'ride_fleet').alias()

In [25]:
trip_type_id_t = select(ride_dispatch_t.c.ride_id, ride_trip_t.c.trip_type.label('trip_type_id'))
trip_type_id_t = trip_type_id_t.select_from(ride_dispatch_t
                                      .join(ride_trip_t, ride_dispatch_t.c.ride_id == ride_trip_t.c.ride_id))
trip_type_id_t = trip_type_id_t.alias()

In [26]:
# trip_type_id_t = trip_type_id_t.limit(10)
# df = pd.read_sql(trip_type_id_t, engine)
# df

In [27]:
trip_type_t = select(trip_type_id_t.c.ride_id, trip_type_id_t.c.trip_type_id, ride_enum_t.c.name.label('trip_type'))
trip_type_t = trip_type_t.select_from(trip_type_id_t
                                      .join(ride_enum_t, trip_type_id_t.c.trip_type_id == ride_enum_t.c.id, isouter=True))
trip_type_t = trip_type_t.alias()

In [28]:
ride_status_t = select(ride_ride_t.c.id.label('ride_id'), ride_ride_t.c.stat.label('ride_status_id'), ride_enum_t.c.name.label('ride_status'))
ride_status_t = ride_status_t.select_from(ride_ride_t
                                          .join(ride_enum_t, ride_ride_t.c.stat == ride_enum_t.c.id, isouter=True))
ride_status_t = ride_status_t.alias()
# ride_status_t = ride_status_t.limit(10)
# df = pd.read_sql(ride_status_t, engine)
# df

## Traffic peak time exclusion
source https://www.quora.com/What-is-the-trickiest-time-of-the-day-to-drive-in-Orlando

In [29]:
#ride_datetime_tz_t = select(ride_datetime_t.c.ride_id,
#                         # F.timestamp(ride_datetime_t.c.from_datetime).label('from_datetime_utc'),
#                         ride_datetime_t.c.from_datetime,
#                         ride_datetime_t.c.from_datetime_str,
#                         cast(ride_datetime_t.c.from_date_str, Date).label('from_date'),
#                         cast(ride_datetime_t.c.from_time_str, Time).label('from_time'),
#                         # ride_datetime_t.c.from_date_str,
#                         # ride_datetime_t.c.from_time_str,
#                         ride_datetime_t.c.utc,
#                         ride_datetime_t.c.tz,
#                         ride_datetime_t.c.day_of_week,
#                         F.datetime(F.timestamp_seconds(ride_datetime_t.c.utc)).label('from_datetime_utc'),
#                         #F.format_timestamp('%Y-%m-%d %H:%M:%S', F.timestamp_seconds(ride_datetime_t.c.utc), ride_datetime_t.c.tz).label('datetime_with_new_timezone')
#                         # text("TIMESTAMP(ride_datetime_t.c.from_datetime) AT TIME ZONE 'UTC' AT TIME ZONE ride_datetime_t.c.tz").label('datetime_with_new_timezone') 
#                         #F.datetime(F.timestamp_seconds(ride_datetime_t.c.utc), F.timezone(ride_datetime_t.c.tz)).label('from_datetime_local'),
#                         # cast(ride_datetime_t.c.from_datetime_str, DateTime).label('from_datetime_tz'),
#                         )
#ride_datetime_tz_t = ride_datetime_tz_t.select_from(ride_datetime_t) #.join(ride_ride_t, ride_ride_t.c.id == ride_datetime_t.c.ride_id))
## print(ride_non_peak_t.compile(compile_kwargs={"literal_binds": True}))
#ride_datetime_tz_t = ride_datetime_tz_t.alias()
## ride_datetime_tz_t = ride_datetime_tz_t.limit(100)
## df = pd.read_sql(ride_datetime_tz_t,engine)
## df.dtypes
## df

In [30]:
ride_datetime_t = select(ride_ride_t.c.id.label('ride_id'), 
                         F.substring(ride_ride_t.c.from_time_str, 1, 10).label('from_date_str'),
                         F.concat(F.substring(ride_ride_t.c.from_time_str, 12, 16),':00').label('from_time_fix_str'),
                         F.concat(F.substring(ride_ride_t.c.from_time_str, 1, 10), 
                                  ' ', 
                                  F.substring(ride_ride_t.c.from_time_str, 12, 16),
                                  ':00'
                                  ).label('from_datetime_fix_str'),
                         extract(
                             'DAYOFWEEK',
                             cast(F.concat(F.substring(ride_ride_t.c.from_time_str, 1, 10),
                                       ' ',
                                       F.substring(ride_ride_t.c.from_time_str, 12, 16),
                                       ':00'
                                       ),
                              DateTime)
                         ).label('day_of_week_local'),
                         extract(
                             'DAYOFWEEK',
                             cast(F.timestamp_seconds(ride_ride_t.c.from_utc), 
                                  DateTime)
                         ).label('day_of_week_utc'),
                         F.datetime(F.timestamp_seconds(ride_ride_t.c.from_utc)).label('from_datetime_utc'),
                         ride_ride_t.c.from_timezone_str,
                         # F.current_date(ride_ride_t.c.from_timezone_str).label('current_date'),
                         #cast(ride_ride_t.c.from_time_str,DateTime).label('from_datetime'),
                         #cast(F.concat(F.substring(ride_ride_t.c.from_time_str, 1, 10), 'T', F.substring(ride_ride_t.c.from_time_str, 12, 16)),DateTime).label('from_datetime'),
                         #cast(ride_ride_t.c.from_time_str, DateTime).label('from_time_dt'),
                         # F.timezone(ride_ride_t.c.from_timezone_str, cast(ride_ride_t.c.from_time_str, DateTime).label('from_time_dt')),
                         )                  
ride_datetime_t = ride_datetime_t.select_from(ride_ride_t)
ride_datetime_t = ride_datetime_t.alias()
# ride_datetime_t = ride_datetime_t.limit(100)
# df = pd.read_sql(ride_datetime_t, engine)

In [31]:
#df

In [32]:
from workalendar.usa import Florida 
import numpy as np
cal_florida = Florida()
exclude_dates_str = [str(d[0]) for d in cal_florida.holidays(2024)]
exclude_dates_str

['2024-01-01',
 '2024-01-15',
 '2024-05-27',
 '2024-07-04',
 '2024-09-02',
 '2024-11-11',
 '2024-11-28',
 '2024-11-29',
 '2024-12-25']

In [36]:
#ride_non_peak_t = select(ride_datetime_t).where(
#            # not_(ride_datetime_tz_t.c.day_of_week.in_([1, 7])),
#            # not_(ride_datetime_tz_t.c.from_datetime_str.in_(exclude_dates)),
#            and_(
#                # not_(ride_datetime_t.c.day_of_week.in_([1, 7])),
#                not_(ride_datetime_t.c.from_datetime_str.in_(exclude_dates_str)),
#                not_(
#                    and_(
#                        # text(f"TIME({ride_datetime_tz_t.c.from_time}) > TIME({peak_time_str[0][0]}) AND TIME({ride_datetime_tz_t.c.from_time}) < TIME({peak_time_str[0][1]})"),
#                        # text(f"TIME({ride_datetime_tz_t.c.from_time}) > TIME({peak_time_str[1][0]}) AND TIME({ride_datetime_tz_t.c.from_time}) < TIME({peak_time_str[1][1]})"),
#                        cast(ride_datetime_t.c.from_time, Time) > cast(peak_time_str[0][0],Time),
#                        cast(ride_datetime_t.c.from_time, Time) < cast(peak_time_str[0][1],Time),
#                    )
#                ),
#                not_(
#                    and_(
#                        cast(ride_datetime_t.c.from_time, Time) > cast(peak_time_str[1][0],Time),
#                        cast(ride_datetime_t.c.from_time, Time) < cast(peak_time_str[1][1],Time),
#                    )
#                )
#            )
#        )               
#ride_non_peak_t = ride_non_peak_t.select_from(ride_datetime_t)
## ride_non_peak_t = ride_non_peak_t.alias()
#ride_non_peak_t = ride_non_peak_t.limit(1000)
#df = pd.read_sql(ride_non_peak_t,engine)
#df.head()

In [37]:
# df

In [38]:
exclude_dates = [d[0] for d in cal_florida.holidays(2024)]
# exclude_dates
# res = df['from_datetime_utc'].apply(lambda x: x in exclude_dates)

In [39]:
# np.any(res.apply(lambda x: x in exclude_dates))
# res[0]=True
# res
# np.any(res)

In [40]:
dispatch_status_t = select(ride_dispatch_t.c.id.label('ride_id'), ride_dispatch_t.c.stat.label('dispatch_status_id'), ride_enum_t.c.name.label('distpatch_status'))
dispatch_status_t = dispatch_status_t.select_from(ride_dispatch_t
                                          .join(ride_enum_t, ride_dispatch_t.c.stat == ride_enum_t.c.id, isouter=True))
dispatch_status_t = dispatch_status_t.alias()
#dispatch_status_t = dispatch_status_t.limit(10)
#df = pd.read_sql(dispatch_status_t, engine)
#df

In [41]:

expr = case(
    (ride_dispatch_t.c.to_fleet_id == auction_fleet_t.c.fleet_id, 'auction'), 
    else_='dispatch',
)

In [42]:
auction_type_t = select(
    auction_ride_t.c.ride_id.label('ride_id'),
    auction_ride_t.c.auction_id.label('auction_id'),
    auction_fleet_t.c.fleet_id.label('auction_fleet_id'),
    ride_dispatch_t.c.to_fleet_id.label('dispatch_fleet_id'),
    ride_fleet_t.c.name.label('fleet'),
    case(
        (ride_dispatch_t.c.to_fleet_id == auction_fleet_t.c.fleet_id, 'auction'),
        else_ = 'dispatch',
    ).label('dispatch_type')
)
auction_type_t = auction_type_t.select_from(auction_ride_t
                                            .join(auction_fleet_t, auction_ride_t.c.auction_id == auction_fleet_t.c.auction_id, isouter=True)
                                            .join(ride_dispatch_t, auction_ride_t.c.ride_id == ride_dispatch_t.c.ride_id, isouter=True)
                                            .join(ride_fleet_t, ride_dispatch_t.c.to_fleet_id == ride_fleet_t.c.id, isouter=True))
auction_type_t = auction_type_t.alias()
# auction_type_t = auction_type_t.limit(100)
# df = pd.read_sql(auction_type_t, engine)
# df

In [43]:
dispatch_type_t = (select(
    ride_dispatch_t.c.id.label('ride_id'),
    ride_dispatch_t.c.to_fleet_id.label('dispatch_fleet_id'),
    auction_ride_t.c.auction_id.label('auction_id'),
    auction_fleet_t.c.fleet_id.label('auction_fleet_id'),
    case(
        (ride_dispatch_t.c.to_fleet_id == auction_fleet_t.c.fleet_id, 'auction'), 
        else_ = 'dispatch',
    ).label('dispatch_type'),
    ride_fleet_t.c.name.label('fleet')
))
# .where(
#     ride_dispatch_t.c.to_fleet_id == auction_fleet_t.c.fleet_id
# ))
dispatch_type_t = dispatch_type_t.select_from(ride_dispatch_t
                                          .join(auction_ride_t, ride_dispatch_t.c.ride_id == auction_ride_t.c.ride_id, isouter=True)
                                          .join(auction_fleet_t, auction_ride_t.c.auction_id == auction_fleet_t.c.auction_id, isouter=True)
                                          .join(ride_fleet_t, ride_dispatch_t.c.to_fleet_id == ride_fleet_t.c.id, isouter=True))
dispatch_type_t = dispatch_type_t.alias()
# dispatch_type_t = dispatch_type_t.limit(100)
# df = pd.read_sql(dispatch_type_t, engine)
# df

In [44]:
partner_id_t = select(ride_ride_t.c.id.label('ride_id'), ride_partner_tran_t.c.partner_id.label('partner_id'))
partner_id_t = partner_id_t.select_from(ride_ride_t
                                        .join(ride_partner_tran_t, ride_ride_t.c.partner_tran_id == ride_partner_tran_t.c.id, isouter=True))
partner_id_t = partner_id_t.alias()
#partner_id_t = partner_id_t.limit(10)
#df = pd.read_sql(partner_id_t, engine)
#df

In [45]:
partner_t = select(partner_id_t.c.ride_id, partner_id_t.c.partner_id, ride_partner_t.c.name.label('partner'))
partner_t = partner_t.select_from(partner_id_t
                                  .join(ride_partner_t, partner_id_t.c.partner_id == ride_partner_t.c.id, isouter=True))
partner_t = partner_t.alias()
# partner_t = partner_t.limit(10)
# df = pd.read_sql(partner_t,engine)
# df

In [46]:
from_place_t = select(ride_ride_t.c.id.label('ride_id'), 
                      ride_ride_t.c.from_place_id.label('start_place_id'), 
                      dim_place_t.c.name.label('start_place'), 
                      dim_place_t.c.lng.label('lng'), 
                      dim_place_t.c.lat.label('ltt'),
                      )
from_place_t = from_place_t.select_from(ride_ride_t
                                        .join(dim_place_t, ride_ride_t.c.from_place_id == dim_place_t.c.id, isouter=True))
from_place_t = from_place_t.alias()
#from_place_t = from_place_t.limit(10)
#df = pd.read_sql(from_place_t, engine)
#df

In [47]:
to_place_t = select(ride_ride_t.c.id.label('ride_id'), 
                      ride_ride_t.c.to_place_id.label('end_place_id'), 
                      dim_place_t.c.name.label('end_place'), 
                      dim_place_t.c.lng.label('lng'), 
                      dim_place_t.c.lat.label('ltt'))
to_place_t = to_place_t.select_from(ride_ride_t
                                        .join(dim_place_t, ride_ride_t.c.to_place_id == dim_place_t.c.id, isouter=True))
to_place_t = to_place_t.alias()
#to_place_t = to_place_t.limit(10)
#df = pd.read_sql(to_place_t, engine)
#df

In [48]:
vehicle_class_t = select(ride_ride_t.c.id.label('ride_id'),
                         ride_ride_t.c.vehicle_class_id.label('vehicle_class_id'), 
                         ride_vehicle_class_t.c.name.label('vehicle_class'))
vehicle_class_t = vehicle_class_t.select_from(ride_ride_t
                                              .join(ride_vehicle_class_t, ride_ride_t.c.vehicle_class_id == ride_vehicle_class_t.c.id, isouter=True))
vehicle_class_t = vehicle_class_t.alias()
#vehicle_class_t = vehicle_class_t.limit(10)
#df = pd.read_sql(vehicle_class_t, engine)
#df

In [49]:
from workalendar.usa import Florida

In [50]:
cal_orlando = Florida()
data_from_date = '2024-01-01'

In [51]:
exclude_dates = [d[0] for d in cal_orlando.holidays(2024)]
exclude_dates

[datetime.date(2024, 1, 1),
 datetime.date(2024, 1, 15),
 datetime.date(2024, 5, 27),
 datetime.date(2024, 7, 4),
 datetime.date(2024, 9, 2),
 datetime.date(2024, 11, 11),
 datetime.date(2024, 11, 28),
 datetime.date(2024, 11, 29),
 datetime.date(2024, 12, 25)]

In [52]:
price_training_t = select(ride_ride_t.c.id.label('ride_id'),
                          ride_ride_t.c.trip_count,
                          ride_ride_t.c.from_utc,
                          ride_ride_t.c.from_time_str,
                          ride_ride_t.c.from_timezone_str,
                          ride_ride_t.c.to_time_str,
                          ride_ride_t.c.to_timezone_str,
                          ride_ride_t.c.passenger_count,
                          ride_ride_t.c.luggage_count,
                          ride_ride_t.c.children_count,
                          ride_ride_t.c.infant_count,
                          ride_ride_t.c.distance,
                          ride_ride_t.c.duration,
                          ride_dispatch_t.c.id.label('dispatch_id'),
                          ride_dispatch_t.c.trip_no,
                          ride_dispatch_t.c.amount.label('dispatch_amount'),
                          ride_dispatch_t.c.currency.label('dispatch_currency'),
                          ride_datetime_t.c.from_date_str,
                          ride_datetime_t.c.from_time_fix_str,
                          ride_datetime_t.c.from_datetime_fix_str,
                          # ride_datetime_t.c.day_of_week,
                          # text("EXTRACT(DAYOFWEEK FROM TIMESTAMP_SECONDS(ride_ride_t.from_utc))").label('day_of_week'),
                          trip_type_t.c.trip_type_id,
                          trip_type_t.c.trip_type,
                          ride_status_t.c.ride_status_id,
                          ride_status_t.c.ride_status,
                          dispatch_status_t.c.dispatch_status_id,
                          dispatch_status_t.c.distpatch_status,
                          dispatch_type_t.c.dispatch_type,
                          ride_fleet_t.c.name.label('fleet'),
                          partner_t.c.partner_id,
                          partner_t.c.partner,
                          from_place_t.c.start_place_id,
                          from_place_t.c.start_place,
                          from_place_t.c.lng.label('start_lng'),
                          from_place_t.c.ltt.label('start_ltt'),
                          to_place_t.c.end_place_id,
                          to_place_t.c.end_place,
                          to_place_t.c.lng.label('end_lng'),
                          to_place_t.c.ltt.label('end_ltt'),
                          vehicle_class_t.c.vehicle_class_id,
                          vehicle_class_t.c.vehicle_class,
                          ).where(
                              and_(
                                  ride_ride_t.c.from_time_str > data_from_date,
                                  ride_dispatch_t.c.currency == 'USD',
                                  vehicle_class_t.c.vehicle_class== 'MPV-5',
                                  or_ (dispatch_type_t.c.dispatch_type == 'auction',
                                       dispatch_type_t.c.dispatch_type == 'dispatch'),
                                  F.lower(from_place_t.c.start_place).like('%orlando%'),
                                  F.lower(to_place_t.c.end_place).like('%orlando%'),
                                  
                                  # not_(ride_datetime_t.c.day_of_week.in_([1, 7])),
                                  # not_(ride_ride_t.c.from_time_str.in_(exclude_dates)),
                              )
                          )

In [53]:

price_training_t = price_training_t.select_from(ride_ride_t
                                                .join(ride_dispatch_t, ride_ride_t.c.id == ride_dispatch_t.c.ride_id)
                                                .join(ride_datetime_t, ride_ride_t.c.id == ride_datetime_t.c.ride_id)
                                                .join(trip_type_t, ride_ride_t.c.id == trip_type_t.c.ride_id, isouter=True)
                                                .join(ride_status_t, ride_ride_t.c.id == ride_status_t.c.ride_id, isouter=True)
                                                .join(dispatch_status_t, ride_ride_t.c.id == dispatch_status_t.c.ride_id, isouter=True)
                                                .join(dispatch_type_t, ride_ride_t.c.id == dispatch_type_t.c.ride_id, isouter=True)
                                                .join(partner_t, ride_ride_t.c.id == partner_t.c.ride_id, isouter=True)
                                                .join(from_place_t, ride_ride_t.c.id == from_place_t.c.ride_id, isouter=True)
                                                .join(to_place_t, ride_ride_t.c.id == to_place_t.c.ride_id, isouter=True)
                                                .join(vehicle_class_t, ride_ride_t.c.id == vehicle_class_t.c.ride_id, isouter=True)
                                                .join(ride_fleet_t, ride_dispatch_t.c.to_fleet_id == ride_fleet_t.c.id, isouter=True)
                                                )
                                                                                                                                    
#price_training_t = price_training_t.where(ride_ride_t.c.from_time_str > '2024-01-01')
price_training_t = price_training_t.limit(1000)

In [54]:
df = pd.read_sql(price_training_t, engine)
df

,ride_id,trip_count,from_utc,from_time_str,from_timezone_str,to_time_str,to_timezone_str,passenger_count,luggage_count,children_count,...,start_place_id,start_place,start_lng,start_ltt,end_place_id,end_place,end_lng,end_ltt,vehicle_class_id,vehicle_class
0,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,1293055,Orlando Sanford International Airport,-81.234288,28.775940,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5
1,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,1293055,Orlando Sanford International Airport,-81.234288,28.775940,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5
2,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,1293055,Orlando Sanford International Airport,-81.234288,28.775940,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5
3,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,1293055,Orlando Sanford International Airport,-81.234288,28.775940,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5
4,3324918,1,1711479180,2024-03-26 14:53,America/New_York,None,None,4,4.0,NaN,...,1338363,Orlando International Airport,-81.310547,28.424599,1338364,Towneplace Suites Orlando Downtown,-81.378756,28.528344,3,MPV-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,944935,"13351 FL-535, 13351 FL-535, Orlando, FL 32821,...",-81.502616,28.372109,944936,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5
840,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,944935,"13351 FL-535, 13351 FL-535, Orlando, FL 32821,...",-81.502616,28.372109,944936,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5
841,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,944935,"13351 FL-535, 13351 FL-535, Orlando, FL 32821,...",-81.502616,28.372109,944936,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5
842,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,908266,DoubleTree Suites by Hilton Orlando - Disney S...,-81.506486,28.379053,908267,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5
843,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,908266,DoubleTree Suites by Hilton Orlando - Disney S...,-81.506486,28.379053,908267,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5

In [57]:
sqlite_eng = create_engine('sqlite:///../data/price_training_from_gbq_raw.db', echo=False)

In [58]:
df.to_sql('price_training_orlando_mpv5', sqlite_eng, if_exists='replace')

844

In [59]:
from pricing.data.utils import validate_datetime_in_iso_format, validate_timezone_in_iana, get_timezone_abbreviation, fix_timezone

In [60]:
df_invalid_datetime = df[df.apply(lambda x: not validate_datetime_in_iso_format(x['from_datetime_fix_str']), axis=1)]
df_invalid_datetime

Empty DataFrame
Columns: [ride_id, trip_count, from_utc, from_time_str, from_timezone_str, to_time_str, to_timezone_str, passenger_count, luggage_count, children_count, infant_count, distance, duration, dispatch_id, trip_no, dispatch_amount, dispatch_currency, from_date_str, from_time_fix_str, from_datetime_fix_str, trip_type_id, trip_type, ride_status_id, ride_status, dispatch_status_id, distpatch_status, dispatch_type, fleet, partner_id, partner, start_place_id, start_place, start_lng, start_ltt, end_place_id, end_place, end_lng, end_ltt, vehicle_class_id, vehicle_class]
Index: []

[0 rows x 40 columns]

In [61]:
df_invalid_timezone = df[df.apply(lambda x: not validate_timezone_in_iana(x['from_timezone_str']), axis=1)]
df_invalid_timezone

,ride_id,trip_count,from_utc,from_time_str,from_timezone_str,to_time_str,to_timezone_str,passenger_count,luggage_count,children_count,...,start_place_id,start_place,start_lng,start_ltt,end_place_id,end_place,end_lng,end_ltt,vehicle_class_id,vehicle_class
91,3280576,1,1709583900,2024-03-04 15:25,Eastern Standard Time,None,None,2,2.0,0.0,...,695,Orlando International Airport,-81.308083,28.431158,1250311,"Rosen Inn at Pointe Orlando, 9000 Internationa...",-81.472724,28.433655,3,MPV-5
92,3280576,1,1709583900,2024-03-04 15:25,Eastern Standard Time,None,None,2,2.0,0.0,...,695,Orlando International Airport,-81.308083,28.431158,1250311,"Rosen Inn at Pointe Orlando, 9000 Internationa...",-81.472724,28.433655,3,MPV-5
93,3280576,1,1709583900,2024-03-04 15:25,Eastern Standard Time,None,None,2,2.0,0.0,...,695,Orlando International Airport,-81.308083,28.431158,1250311,"Rosen Inn at Pointe Orlando, 9000 Internationa...",-81.472724,28.433655,3,MPV-5
94,3280576,1,1709583900,2024-03-04 15:25,Eastern Standard Time,None,None,2,2.0,0.0,...,695,Orlando International Airport,-81.308083,28.431158,1250311,"Rosen Inn at Pointe Orlando, 9000 Internationa...",-81.472724,28.433655,3,MPV-5
121,3127714,1,1706126460,2024-01-24 15:01,Eastern Standard Time,None,None,5,5.0,NaN,...,956728,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,956729,"Staybridge Suites Orlando Royale Parc Suites, ...",-81.519718,28.331611,3,MPV-5
122,3127714,1,1706126460,2024-01-24 15:01,Eastern Standard Time,None,None,5,5.0,NaN,...,956728,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,956729,"Staybridge Suites Orlando Royale Parc Suites, ...",-81.519718,28.331611,3,MPV-5
123,3127714,1,1706126460,2024-01-24 15:01,Eastern Standard Time,None,None,5,5.0,NaN,...,956728,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,956729,"Staybridge Suites Orlando Royale Parc Suites, ...",-81.519718,28.331611,3,MPV-5
124,3127714,1,1706126460,2024-01-24 15:01,Eastern Standard Time,None,None,5,5.0,NaN,...,956728,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,956729,"Staybridge Suites Orlando Royale Parc Suites, ...",-81.519718,28.331611,3,MPV-5
154,3315653,1,1716796800,2024-05-27 04:00,Eastern Daylight Time,None,None,4,5.0,NaN,...,30214,Wyndham Orlando Resort & Conference Center Cel...,-81.587489,28.337133,695,Orlando International Airport,-81.308083,28.431158,3,MPV-5
185,3294242,1,1710079200,2024-03-10 10:00,Eastern Daylight Time,None,None,4,2.0,NaN,...,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,3,MPV-5
186,3294242,1,1710079200,2024-03-10 10:00,Eastern Daylight Time,None,None,4,2.0,NaN,...,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,3,MPV-5
187,3294242,1,1710079200,2024-03-10 10:00,Eastern Daylight Time,None,None,4,2.0,NaN,...,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,3,MPV-5
212,3294265,1,1710424800,2024-03-14 10:00,Eastern Daylight Time,None,None,4,2.0,NaN,...,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,3,MPV-5
213,3294265,1,1710424800,2024-03-14 10:00,Eastern Daylight Time,None,None,4,2.0,NaN,...,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,3,MPV-5
220,3297609,1,1710245700,2024-03-12 08:15,Eastern Daylight Time,None,None,3,3.0,0.0,...,1284068,DoubleTree by Hilton at the Entrance to Univer...,-81.457256,28.478875,1284069,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5
221,3297609,1,1710245700,2024-03-12 08:15,Eastern Daylight Time,None,None,3,3.0,0.0,...,1284068,DoubleTree by Hilton at the Entrance to Univer...,-81.457256,28.478875,1284069,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5
222,3297609,1,1710245700,2024-03-12 08:15,Eastern Daylight Time,None,None,3,3.0,0.0,...,1284068,DoubleTree by Hilton at the Entrance to Univer...,-81.457256,28.478875,1284069,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5
223,3297609,1,1710245700,2024-03-12 08:15,Eastern Daylight Time,None,None,3,3.0,0.0,...,1284068,DoubleTree by Hilton at the Entrance to Univer...,-81.457256,28.478875,1284069,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5
261,3153588,2,1705786500,2024-01-20 16:35,Eastern Standard Time,2024-01-23 10:05,Eastern Standard Time,5,5.0,NaN,...,132633,MCO Orlando Airport Terminal C,-81.311702,28.411661,1004246,TownePlace Suites by Marriott Orlando at SeaWo...,-81.454552,28.410735,3,MPV-5
262,3153588,2,1705786500,2024-01-20 16:35,Eastern Standard Time,2024-01-23 10:05,Eastern Standard Time,5,5.0,NaN,...,132633,MCO Orlando Airport Terminal C,-81.311702,28.411661,1004246,TownePlace Suites by Marriott Orlando at SeaWo...,-81.454552,28.410735,3,MPV-5
263,3153588,2,1705786500,2024-01-20 16:35,Eastern Standard Time,2024-01-23 10:05,Eastern Standard Time,5,5.0,NaN,...,132633,MCO Orlando Airport Terminal C,-81.311702,28.411661,1004246,TownePlace Suites by Marriott Orlando at SeaWo...,-81.454552,28.410735,3,MPV-5
306,3037562,1,1704529800,2024-01-06 03:30,Eastern Standard Time,None,None,5,5.0,NaN,...,795284,Buena Vista Suites Orlando (8203 World Center ...,-81.495729,28.357940,795285,Orlando International Airport B (Orlando Inter...,-81.308083,28.431158,3,MPV-5
307,3037562,1,1704529800,2024-01-06 03:30,Eastern Standard Time,None,None,5,5.0,NaN,...,795284,Buena Vista Suites Orlando (8203 World Center ...,-81.495729,28.357940,795285,Orlando International Airport B (Orlando Inter...,-81.308083,28.431158,3,MPV-5
308,3037562,1,1704529800,2024-01-06 03:30,Eastern Standard Time,None,None,5,5.0,NaN,...,795284,Buena Vista Suites Orlando (8203 World Center ...,-81.495729,28.357940,795285,Orlando International Airport B (Orlando Inter...,-81.308083,28.431158,3,MPV-5
332,3294256,1,1710252000,2024-03-12 10:00,Eastern Daylight Time,None,None,4,2.0,NaN,...,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,3,MPV-5
333,3294256,1,1710252000,2024-03-12 10:00,Eastern Daylight Time,None,None,4,2.0,NaN,...,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,3,MPV-5
457,2806494,1,1711605720,2024-03-28 02:02,Eastern Daylight Time,None,None,2,2.0,0.0,...,381714,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,381715,"Universal's Loews Sapphire Falls Resort, 6601 ...",-81.470804,28.466518,3,MPV-5
458,2806494,1,1711605720,2024-03-28 02:02,Eastern Daylight Time,None,None,2,2.0,0.0,...,381714,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,381715,"Universal's Loews Sapphire Falls Resort, 6601 ...",-81.470804,28.466518,3,MPV-5
459,2806494,1,1711605720,2024-03-28 02:02,Eastern Daylight Time,None,None,2,2.0,0.0,...,381714,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,381715,"Universal's Loews Sapphire Falls Resort, 6601 ...",-81.470804,28.466518,3,MPV-5
460,3091654,1,1720566000,2024-07-09 19:00,Eastern Daylight Time,None,None,3,3.0,0.0,...,894091,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,894092,"Orlando Resort Rentals at Universal Boulevard,...",-81.447504,28.428329,3,MPV-5
461,3091654,1,1720566000,2024-07-09 19:00,Eastern Daylight Time,None,None,3,3.0,0.0,...,894091,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,894092,"Orlando Resort Rentals at Universal Boulevard,...",-81.447504,28.428329,3,MPV-5
462,3091654,1,1720566000,2024-07-09 19:00,Eastern Daylight Time,None,None,3,3.0,0.0,...,894091,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,894092,"Orlando Resort Rentals at Universal Boulevard,...",-81.447504,28.428329,3,MPV-5
612,3294258,1,1710338400,2024-03-13 10:00,Eastern Daylight Time,None,None,4,2.0,NaN,...,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,3,MPV-5
613,3294258,1,1710338400,2024-03-13 10:00,Eastern Daylight Time,None,None,4,2.0,NaN,...,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,3,MPV-5
618,3037563,1,1704536760,2024-01-06 05:26,Eastern Standard Time,None,None,5,5.0,NaN,...,795286,1500 Epcot Resorts Boulevard (1500 Epcot Resor...,-81.560414,28.367227,795287,Orlando International Airport B (Orlando Inter...,-81.308083,28.431158,3,MPV-5
619,3037563,1,1704536760,2024-01-06 05:26,Eastern Standard Time,None,None,5,5.0,NaN,...,795286,1500 Epcot Resorts Boulevard (1500 Epcot Resor...,-81.560414,28.367227,795287,Orlando International Airport B (Orlando Inter...,-81.308083,28.431158,3,MPV-5
620,3037563,1,1704536760,2024-01-06 05:26,Eastern Standard Time,None,None,5,5.0,NaN,...,795286,1500 Epcot Resorts Boulevard (1500 Epcot Resor...,-81.560414,28.367227,795287,Orlando International Airport B (Orlando Inter...,-81.308083,28.431158,3,MPV-5
693,3290471,2,1713807000,2024-04-22 13:30,Eastern Daylight Time,2024-04-28 04:15,Eastern Daylight Time,4,2.0,NaN,...,695,Orlando International Airport,-81.308083,28.431158,31062,Hilton Garden Inn Orlando at SeaWorld,-81.470404,28.409782,3,MPV-5
773,3294249,1,1710165600,2024-03-11 10:00,Eastern Daylight Time,None,None,4,2.0,NaN,...,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,3,MPV-5
774,3294249,1,1710165600,2024-03-11 10:00,Eastern Daylight Time,None,None,4,2.0,NaN,...,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,1277441,"Conrad Orlando 1500 Eastbeach Wy, Orlando, FL ...",-81.527340,28.409680,3,MPV-5
775,3290488,2,1713807000,2024-04-22 13:30,Eastern Daylight Time,2024-04-28 04:00,Eastern Daylight Time,4,2.0,NaN,...,695,Orlando International Airport,-81.308083,28.431158,31062,Hilton Garden Inn Orlando at SeaWorld,-81.470404,28.409782,3,MPV-5
776,3290488,2,1713807000,2024-04-22 13:30,Eastern Daylight Time,2024-04-28 04:00,Eastern Daylight Time,4,2.0,NaN,...,695,Orlando International Airport,-81.308083,28.431158,31062,Hilton Garden Inn Orlando at SeaWorld,-81.470404,28.409782,3,MPV-5
777,3290488,2,1713807000,2024-04-22 13:30,Eastern Daylight Time,2024-04-28 04:00,Eastern Daylight Time,4,2.0,NaN,...,695,Orlando International Airport,-81.308083,28.431158,31062,Hilton Garden Inn Orlando at SeaWorld,-81.470404,28.409782,3,MPV-5
778,3290488,2,1713807000,2024-04-22 13:30,Eastern Daylight Time,2024-04-28 04:00,Eastern Daylight Time,4,2.0,NaN,...,695,Orlando International Airport,-81.308083,28.431158,31062,Hilton Garden Inn Orlando at SeaWorld,-81.470404,28.409782,3,MPV-5
779,3290488,2,1713807000,2024-04-22 13:30,Eastern Daylight Time,2024-04-28 04:00,Eastern Daylight Time,4,2.0,NaN,...,695,Orlando International Airport,-81.308083,28.431158,31062,Hilton Garden Inn Orlando at SeaWorld,-81.470404,28.409782,3,MPV-5
781,3139413,1,1707406200,2024-02-08 10:30,Eastern Standard Time,None,None,3,2.0,NaN,...,11652,Hyatt Regency Orlando,-81.467563,28.427015,695,Orlando International Airport,-81.308083,28.431158,3,MPV-5
782,3139413,1,1707406200,2024-02-08 10:30,Eastern Standard Time,None,None,3,2.0,NaN,...,11652,Hyatt Regency Orlando,-81.467563,28.427015,695,Orlando International Airport,-81.308083,28.431158,3,MPV-5
783,3139413,1,1707406200,2024-02-08 10:30,Eastern Standard Time,None,None,3,2.0,NaN,...,11652,Hyatt Regency Orlando,-81.467563,28.427015,695,Orlando International Airport,-81.308083,28.431158,3,MPV-5
784,3139413,1,1707406200,2024-02-08 10:30,Eastern Standard Time,None,None,3,2.0,NaN,...,11652,Hyatt Regency Orlando,-81.467563,28.427015,695,Orlando International Airport,-81.308083,28.431158,3,MPV-5
785,3139413,1,1707406200,2024-02-08 10:30,Eastern Standard Time,None,None,3,2.0,NaN,...,11652,Hyatt Regency Orlando,-81.467563,28.427015,695,Orlando International Airport,-81.308083,28.431158,3,MPV-5
786,3139413,1,1707406200,2024-02-08 10:30,Eastern Standard Time,None,None,3,2.0,NaN,...,11652,Hyatt Regency Orlando,-81.467563,28.427015,695,Orlando International Airport,-81.308083,28.431158,3,MPV-5
787,3139413,1,1707406200,2024-02-08 10:30,Eastern Standard Time,None,None,3,2.0,NaN,...,11652,Hyatt Regency Orlando,-81.467563,28.427015,695,Orlando International Airport,-81.308083,28.431158,3,MPV-5
788,3139413,1,1707406200,2024-02-08 10:30,Eastern Standard Time,None,None,3,2.0,NaN,...,11652,Hyatt Regency Orlando,-81.467563,28.427015,695,Orlando International Airport,-81.308083,28.431158,3,MPV-5
789,3139413,1,1707406200,2024-02-08 10:30,Eastern Standard Time,None,None,3,2.0,NaN,...,11652,Hyatt Regency Orlando,-81.467563,28.427015,695,Orlando International Airport,-81.308083,28.431158,3,MPV-5

In [60]:
#orlando_airport = pd.read_csv('../../data/orlando_all_output.csv')
#orlando_airport.head()
#orlando_airport.dtypes
#orlando_airport.to_sql('orlando_airport', sqlite_eng, if_exists='append')

In [78]:
df['from_timezone_fix_str'] = df.apply(lambda x: fix_timezone(x['from_timezone_str']), axis=1) 
df

,ride_id,trip_count,from_utc,from_time_str,from_timezone_str,to_time_str,to_timezone_str,passenger_count,luggage_count,children_count,...,start_ltt,end_place_id,end_place,end_lng,end_ltt,vehicle_class_id,vehicle_class,timezone_fixed,from_timezone_fixed_str,from_timezone_fix_str
0,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,28.775940,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York
1,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,28.775940,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York
2,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,28.775940,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York
3,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,28.775940,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York
4,3324918,1,1711479180,2024-03-26 14:53,America/New_York,None,None,4,4.0,NaN,...,28.424599,1338364,Towneplace Suites Orlando Downtown,-81.378756,28.528344,3,MPV-5,America/New_York,America/New_York,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,28.372109,944936,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York
840,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,28.372109,944936,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York
841,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,28.372109,944936,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York
842,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,28.379053,908267,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York
843,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,28.379053,908267,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York

In [79]:

df_valid_datetime = df[df.apply(lambda x: validate_datetime_in_iso_format(x['from_datetime_fix_str']), axis=1)]
df_valid_timezone = df_valid_datetime[df_valid_datetime.apply(lambda x: validate_timezone_in_iana(x['from_timezone_fix_str']), axis=1)]
df_valid_timezone

,ride_id,trip_count,from_utc,from_time_str,from_timezone_str,to_time_str,to_timezone_str,passenger_count,luggage_count,children_count,...,start_ltt,end_place_id,end_place,end_lng,end_ltt,vehicle_class_id,vehicle_class,timezone_fixed,from_timezone_fixed_str,from_timezone_fix_str
0,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,28.775940,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York
1,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,28.775940,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York
2,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,28.775940,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York
3,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,28.775940,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York
4,3324918,1,1711479180,2024-03-26 14:53,America/New_York,None,None,4,4.0,NaN,...,28.424599,1338364,Towneplace Suites Orlando Downtown,-81.378756,28.528344,3,MPV-5,America/New_York,America/New_York,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,28.372109,944936,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York
840,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,28.372109,944936,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York
841,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,28.372109,944936,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York
842,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,28.379053,908267,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York
843,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,28.379053,908267,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York

In [80]:

df_valid_timezone.loc[df_invalid_timezone.index, ['from_timezone_str', 'from_timezone_fix_str']]

         from_timezone_str from_timezone_fix_str
91   Eastern Standard Time            US/Eastern
92   Eastern Standard Time            US/Eastern
93   Eastern Standard Time            US/Eastern
94   Eastern Standard Time            US/Eastern
121  Eastern Standard Time            US/Eastern
122  Eastern Standard Time            US/Eastern
123  Eastern Standard Time            US/Eastern
124  Eastern Standard Time            US/Eastern
154  Eastern Daylight Time            US/Eastern
185  Eastern Daylight Time            US/Eastern
186  Eastern Daylight Time            US/Eastern
187  Eastern Daylight Time            US/Eastern
212  Eastern Daylight Time            US/Eastern
213  Eastern Daylight Time            US/Eastern
220  Eastern Daylight Time            US/Eastern
221  Eastern Daylight Time            US/Eastern
222  Eastern Daylight Time            US/Eastern
223  Eastern Daylight Time            US/Eastern
261  Eastern Standard Time            US/Eastern
262  Eastern Standard Time            US/Eastern
263  Eastern Standard Time            US/Eastern
306  Eastern Standard Time            US/Eastern
307  Eastern Standard Time            US/Eastern
308  Eastern Standard Time            US/Eastern
332  Eastern Daylight Time            US/Eastern
333  Eastern Daylight Time            US/Eastern
457  Eastern Daylight Time            US/Eastern
458  Eastern Daylight Time            US/Eastern
459  Eastern Daylight Time            US/Eastern
460  Eastern Daylight Time            US/Eastern
461  Eastern Daylight Time            US/Eastern
462  Eastern Daylight Time            US/Eastern
612  Eastern Daylight Time            US/Eastern
613  Eastern Daylight Time            US/Eastern
618  Eastern Standard Time            US/Eastern
619  Eastern Standard Time            US/Eastern
620  Eastern Standard Time            US/Eastern
693  Eastern Daylight Time            US/Eastern
773  Eastern Daylight Time            US/Eastern
774  Eastern Daylight Time            US/Eastern
775  Eastern Daylight Time            US/Eastern
776  Eastern Daylight Time            US/Eastern
777  Eastern Daylight Time            US/Eastern
778  Eastern Daylight Time            US/Eastern
779  Eastern Daylight Time            US/Eastern
781  Eastern Standard Time            US/Eastern
782  Eastern Standard Time            US/Eastern
783  Eastern Standard Time            US/Eastern
784  Eastern Standard Time            US/Eastern
785  Eastern Standard Time            US/Eastern
786  Eastern Standard Time            US/Eastern
787  Eastern Standard Time            US/Eastern
788  Eastern Standard Time            US/Eastern
789  Eastern Standard Time            US/Eastern

In [81]:
from datetime import datetime
import pytz
df_utc_offset = (df_valid_timezone.apply(lambda x: datetime.now(pytz.timezone(x['from_timezone_fix_str'])), axis=1)
                            .apply(lambda x: x.strftime('%z')))
df_utc_offset.name = 'utc_offset'
df_utc_offset

0      -0400
1      -0400
2      -0400
3      -0400
4      -0400
       ...
839    -0400
840    -0400
841    -0400
842    -0400
843    -0400
Name: utc_offset, Length: 844, dtype: object

In [82]:
df_dt_str = df_valid_timezone['from_datetime_fix_str']
df_valid_timezone['from_datetime_local'] = df_valid_timezone.apply(lambda x: (pd.to_datetime(x['from_datetime_fix_str']).to_datetime64()), axis=1)
df_valid_timezone

,ride_id,trip_count,from_utc,from_time_str,from_timezone_str,to_time_str,to_timezone_str,passenger_count,luggage_count,children_count,...,end_place_id,end_place,end_lng,end_ltt,vehicle_class_id,vehicle_class,timezone_fixed,from_timezone_fixed_str,from_timezone_fix_str,from_datetime_local
0,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00
1,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00
2,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00
3,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,1293056,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00
4,3324918,1,1711479180,2024-03-26 14:53,America/New_York,None,None,4,4.0,NaN,...,1338364,Towneplace Suites Orlando Downtown,-81.378756,28.528344,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-26 14:53:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,944936,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-20 17:30:00
840,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,944936,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-20 17:30:00
841,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,944936,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-20 17:30:00
842,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,908267,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-05 16:00:00
843,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,908267,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-05 16:00:00

In [93]:
df_valid_timezone.dtypes

ride_id                           int64
trip_count                        int64
from_utc                          int64
from_time_str                    object
from_timezone_str                object
to_time_str                      object
to_timezone_str                  object
passenger_count                   int64
luggage_count                   float64
children_count                  float64
infant_count                    float64
distance                          int64
duration                          int64
dispatch_id                       int64
trip_no                           int64
dispatch_amount                 float64
dispatch_currency                object
from_date_str                    object
from_time_fix_str                object
from_datetime_fix_str            object
trip_type_id                    float64
trip_type                        object
ride_status_id                    int64
ride_status                      object
dispatch_status_id                int64
distpatch_status                 object
dispatch_type                    object
fleet                            object
partner_id                        int64
partner                          object
start_place_id                    int64
start_place                      object
start_lng                       float64
start_ltt                       float64
end_place_id                      int64
end_place                        object
end_lng                         float64
end_ltt                         float64
vehicle_class_id                  int64
vehicle_class                    object
from_datetime_local      datetime64[ns]
dtype: object

In [83]:

# df_valid_timezone['from_datetime_local_tz'] = df_valid_timezone.apply(lambda x: pytz.timezone(x.loc[:,'from_timezone_str']).localize(x.loc[:,'from_datetime_local']), axis=1)
df_valid_timezone['from_timezone'] = df_valid_timezone.apply(lambda x: pytz.timezone(x['from_timezone_fix_str']), axis=1)
df_valid_timezone

,ride_id,trip_count,from_utc,from_time_str,from_timezone_str,to_time_str,to_timezone_str,passenger_count,luggage_count,children_count,...,end_place,end_lng,end_ltt,vehicle_class_id,vehicle_class,timezone_fixed,from_timezone_fixed_str,from_timezone_fix_str,from_datetime_local,from_timezone
0,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00,America/New_York
1,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00,America/New_York
2,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00,America/New_York
3,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,"12235 Regency Village Dr, Orlando, FL 32821, USA",-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00,America/New_York
4,3324918,1,1711479180,2024-03-26 14:53,America/New_York,None,None,4,4.0,NaN,...,Towneplace Suites Orlando Downtown,-81.378756,28.528344,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-26 14:53:00,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-20 17:30:00,America/New_York
840,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-20 17:30:00,America/New_York
841,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-20 17:30:00,America/New_York
842,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-05 16:00:00,America/New_York
843,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,"Orlando International Airport (MCO), 1 Jeff Fu...",-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-05 16:00:00,America/New_York

In [84]:
df_valid_timezone['from_datetime_tz'] = df_valid_timezone.apply(lambda x: x['from_timezone'].localize(x['from_datetime_local']), axis=1)
df_valid_timezone
                                    # .apply(lambda x: x.localize(x.loc[:,'from_timezone_str']), axis=1))
# df_valid_timezone

,ride_id,trip_count,from_utc,from_time_str,from_timezone_str,to_time_str,to_timezone_str,passenger_count,luggage_count,children_count,...,end_lng,end_ltt,vehicle_class_id,vehicle_class,timezone_fixed,from_timezone_fixed_str,from_timezone_fix_str,from_datetime_local,from_timezone,from_datetime_tz
0,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00,America/New_York,2024-03-12 09:55:00-04:00
1,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00,America/New_York,2024-03-12 09:55:00-04:00
2,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00,America/New_York,2024-03-12 09:55:00-04:00
3,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00,America/New_York,2024-03-12 09:55:00-04:00
4,3324918,1,1711479180,2024-03-26 14:53,America/New_York,None,None,4,4.0,NaN,...,-81.378756,28.528344,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-26 14:53:00,America/New_York,2024-03-26 14:53:00-04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-20 17:30:00,America/New_York,2024-01-20 17:30:00-05:00
840,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-20 17:30:00,America/New_York,2024-01-20 17:30:00-05:00
841,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-20 17:30:00,America/New_York,2024-01-20 17:30:00-05:00
842,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-05 16:00:00,America/New_York,2024-01-05 16:00:00-05:00
843,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-05 16:00:00,America/New_York,2024-01-05 16:00:00-05:00

# filtering out peak traffic time

In [95]:
peak_time_str = [('07:00:00', '09:00:00'), ('16:00:00', '19:00:00')]
night_time_str = [('22:00:00', '6:00:00')]  # Shanghai, US usually no overtime extra fees New York 8pm ~ 6am
ind = []
td = []
for pt in peak_time_str:
    ind.append(pd.DatetimeIndex(pt))
ind
for i in ind:
    i[1]-i[0]

[DatetimeIndex(['2024-09-18 07:00:00', '2024-09-18 09:00:00'], dtype='datetime64[ns]', freq=None),
 DatetimeIndex(['2024-09-18 16:00:00', '2024-09-18 19:00:00'], dtype='datetime64[ns]', freq=None)]

Timedelta('0 days 02:00:00')

Timedelta('0 days 03:00:00')

In [96]:
peak_time = []
for pt in peak_time_str:
    peak_time.append(pd.date_range(pt[0], pt[1], freq='h'))
for pt in peak_time:
    print(pt, pt.time)

DatetimeIndex(['2024-09-18 07:00:00', '2024-09-18 08:00:00',
               '2024-09-18 09:00:00'],
              dtype='datetime64[ns]', freq='h') [datetime.time(7, 0) datetime.time(8, 0) datetime.time(9, 0)]
DatetimeIndex(['2024-09-18 16:00:00', '2024-09-18 17:00:00',
               '2024-09-18 18:00:00', '2024-09-18 19:00:00'],
              dtype='datetime64[ns]', freq='h') [datetime.time(16, 0) datetime.time(17, 0) datetime.time(18, 0)
 datetime.time(19, 0)]

In [35]:
peak_time_str

[('07:00:00', '09:00:00'), ('16:00:00', '19:00:00')]

In [99]:

df_peak_traffic_time = df_valid_timezone[
    df_valid_timezone['from_datetime_tz'].apply(lambda x: x.strftime('%H:%M:%S')).between(*peak_time_str[0])
    | df_valid_timezone['from_datetime_tz'].apply(lambda x: x.strftime('%H:%M:%S')).between(*peak_time_str[1])
]
df_peak_traffic_time

,ride_id,trip_count,from_utc,from_time_str,from_timezone_str,to_time_str,to_timezone_str,passenger_count,luggage_count,children_count,...,end_lng,end_ltt,vehicle_class_id,vehicle_class,timezone_fixed,from_timezone_fixed_str,from_timezone_fix_str,from_datetime_local,from_timezone,from_datetime_tz
16,2946548,1,1711540800,2024-03-27 08:00,America/New_York,None,None,2,2.0,NaN,...,-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-27 08:00:00,America/New_York,2024-03-27 08:00:00-04:00
36,3110745,1,1707346500,2024-02-07 17:55,America/New_York,None,None,5,0.0,NaN,...,-81.650126,28.361338,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-02-07 17:55:00,America/New_York,2024-02-07 17:55:00-05:00
37,3110745,1,1707346500,2024-02-07 17:55,America/New_York,None,None,5,0.0,NaN,...,-81.650126,28.361338,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-02-07 17:55:00,America/New_York,2024-02-07 17:55:00-05:00
46,3108855,1,1720478100,2024-07-08 18:35,America/New_York,None,None,3,3.0,NaN,...,-81.472724,28.433655,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-07-08 18:35:00,America/New_York,2024-07-08 18:35:00-04:00
47,3108855,1,1720478100,2024-07-08 18:35,America/New_York,None,None,3,3.0,NaN,...,-81.472724,28.433655,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-07-08 18:35:00,America/New_York,2024-07-08 18:35:00-04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-20 17:30:00,America/New_York,2024-01-20 17:30:00-05:00
840,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-20 17:30:00,America/New_York,2024-01-20 17:30:00-05:00
841,3121321,1,1705789800,2024-01-20 17:30,America/New_York,None,None,2,2.0,NaN,...,-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-20 17:30:00,America/New_York,2024-01-20 17:30:00-05:00
842,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-05 16:00:00,America/New_York,2024-01-05 16:00:00-05:00
843,3099498,1,1704488400,2024-01-05 16:00,America/New_York,None,None,2,2.0,NaN,...,-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-01-05 16:00:00,America/New_York,2024-01-05 16:00:00-05:00

In [100]:

df_out_of_peak_traffic_time = df_valid_timezone[
    ~ (df_valid_timezone['from_datetime_tz'].apply(lambda x: x.strftime('%H:%M:%S')).between(*peak_time_str[0])
    | df_valid_timezone['from_datetime_tz'].apply(lambda x: x.strftime('%H:%M:%S')).between(*peak_time_str[1]))
]
df_out_of_peak_traffic_time

,ride_id,trip_count,from_utc,from_time_str,from_timezone_str,to_time_str,to_timezone_str,passenger_count,luggage_count,children_count,...,end_lng,end_ltt,vehicle_class_id,vehicle_class,timezone_fixed,from_timezone_fixed_str,from_timezone_fix_str,from_datetime_local,from_timezone,from_datetime_tz
0,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00,America/New_York,2024-03-12 09:55:00-04:00
1,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00,America/New_York,2024-03-12 09:55:00-04:00
2,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00,America/New_York,2024-03-12 09:55:00-04:00
3,3302091,1,1710251700,2024-03-12 09:55,America/New_York,None,None,4,0.0,NaN,...,-81.486903,28.388792,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-12 09:55:00,America/New_York,2024-03-12 09:55:00-04:00
4,3324918,1,1711479180,2024-03-26 14:53,America/New_York,None,None,4,4.0,NaN,...,-81.378756,28.528344,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-26 14:53:00,America/New_York,2024-03-26 14:53:00-04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,3245633,1,1713607200,2024-04-20 06:00,America/New_York,None,None,4,4.0,NaN,...,-81.308332,28.429425,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-04-20 06:00:00,America/New_York,2024-04-20 06:00:00-04:00
830,3329995,1,1711050900,2024-03-21 15:55,America/New_York,None,None,5,0.0,NaN,...,-81.463575,28.459513,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-21 15:55:00,America/New_York,2024-03-21 15:55:00-04:00
831,3329995,1,1711050900,2024-03-21 15:55,America/New_York,None,None,5,0.0,NaN,...,-81.463575,28.459513,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-21 15:55:00,America/New_York,2024-03-21 15:55:00-04:00
832,3329995,1,1711050900,2024-03-21 15:55,America/New_York,None,None,5,0.0,NaN,...,-81.463575,28.459513,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-21 15:55:00,America/New_York,2024-03-21 15:55:00-04:00
833,3329995,1,1711050900,2024-03-21 15:55,America/New_York,None,None,5,0.0,NaN,...,-81.463575,28.459513,3,MPV-5,America/New_York,America/New_York,America/New_York,2024-03-21 15:55:00,America/New_York,2024-03-21 15:55:00-04:00

In [100]:

# df_utc_offset = (df_valid_timezone.apply(lambda x: datetime.now(pytz.timezone(x.loc['timezone'])))
#                             .apply(lambda x: x.strftime('%z')))
# df_utc_offset.name = 'utc_offset'
# df_utc_offset
#

# filter out round trip (time reservation) with feature distance = 1 (m)

In [113]:
df_no_round_trip = df_valid_timezone[df_valid_timezone['distance'] > 1]

In [123]:
df_training = df_no_round_trip.loc[:,['ride_id', 'trip_type', 'trip_no', 'trip_count', 'ride_status', 'partner', 'fleet', 
                'start_place', 'end_place',
                'passenger_count', 'luggage_count',
                'dispatch_amount', 'dispatch_currency',
                'distance', 'duration', 'vehicle_class', 
                'from_datetime_tz']]
 
df_training['cent_price_per_km'] = df_training['dispatch_amount'] / df_training['distance']*100.0
df_training

,ride_id,trip_type,trip_no,trip_count,ride_status,partner,fleet,start_place,end_place,passenger_count,luggage_count,dispatch_amount,dispatch_currency,distance,duration,vehicle_class,from_datetime_tz,cent_price_per_km
0,3302091,point2point,0,1,Pending,Book Taxi,Leonardo Carvalhal de Aguiar,Orlando Sanford International Airport,"12235 Regency Village Dr, Orlando, FL 32821, USA",4,0.0,83.36,USD,77232,3328,MPV-5,2024-03-12 09:55:00-04:00,0.107935
1,3302091,point2point,0,1,Pending,Book Taxi,Leonardo Carvalhal de Aguiar,Orlando Sanford International Airport,"12235 Regency Village Dr, Orlando, FL 32821, USA",4,0.0,83.36,USD,77232,3328,MPV-5,2024-03-12 09:55:00-04:00,0.107935
2,3302091,point2point,-1,1,Pending,Book Taxi,Elife,Orlando Sanford International Airport,"12235 Regency Village Dr, Orlando, FL 32821, USA",4,0.0,159.60,USD,77232,3328,MPV-5,2024-03-12 09:55:00-04:00,0.206650
3,3302091,point2point,-1,1,Pending,Book Taxi,Elife,Orlando Sanford International Airport,"12235 Regency Village Dr, Orlando, FL 32821, USA",4,0.0,159.60,USD,77232,3328,MPV-5,2024-03-12 09:55:00-04:00,0.206650
4,3324918,point2point,-1,1,Pending,KKDay,Elife,Orlando International Airport,Towneplace Suites Orlando Downtown,4,4.0,67.00,USD,17924,1323,MPV-5,2024-03-26 14:53:00-04:00,0.373800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,3121321,point2point,0,1,Pending,Booking,Safe Transfer Service LLC,"13351 FL-535, 13351 FL-535, Orlando, FL 32821,...","Orlando International Airport (MCO), 1 Jeff Fu...",2,2.0,42.00,USD,27047,1286,MPV-5,2024-01-20 17:30:00-05:00,0.155285
840,3121321,point2point,-1,1,Pending,Booking,Elife,"13351 FL-535, 13351 FL-535, Orlando, FL 32821,...","Orlando International Airport (MCO), 1 Jeff Fu...",2,2.0,51.00,USD,27047,1286,MPV-5,2024-01-20 17:30:00-05:00,0.188561
841,3121321,point2point,-1,1,Pending,Booking,Elife,"13351 FL-535, 13351 FL-535, Orlando, FL 32821,...","Orlando International Airport (MCO), 1 Jeff Fu...",2,2.0,51.00,USD,27047,1286,MPV-5,2024-01-20 17:30:00-05:00,0.188561
842,3099498,None,0,1,Cancelled,Booking,Safe Transfer Service LLC,DoubleTree Suites by Hilton Orlando - Disney S...,"Orlando International Airport (MCO), 1 Jeff Fu...",2,2.0,42.00,USD,28354,1344,MPV-5,2024-01-05 16:00:00-05:00,0.148127
843,3099498,None,-1,1,Cancelled,Booking,Elife,DoubleTree Suites by Hilton Orlando - Disney S...,"Orlando International Airport (MCO), 1 Jeff Fu...",2,2.0,51.85,USD,28354,1344,MPV-5,2024-01-05 16:00:00-05:00,0.182867

In [117]:
def average_cent_per_km(x):
    x['average_cent_per_km'] = x['cent_price_per_km'].mean()
    return x

In [141]:
def fleet_trip_no(x):
    x['fleet_trip_count'] = len(x)
    return x

In [142]:
df_fleet_statistics = df_training.loc[:, ['ride_id','fleet']]
df_fleet_statistics

     ride_id                         fleet
0    3302091  Leonardo Carvalhal de Aguiar
1    3302091  Leonardo Carvalhal de Aguiar
2    3302091                         Elife
3    3302091                         Elife
4    3324918                         Elife
..       ...                           ...
839  3121321     Safe Transfer Service LLC
840  3121321                         Elife
841  3121321                         Elife
842  3099498     Safe Transfer Service LLC
843  3099498                         Elife

[833 rows x 2 columns]

In [151]:

df_fleet_trip_no = df_fleet_statistics.groupby('fleet').aggregate([len])
df_fleet_trip_no.sort_values(by=('ride_id', 'len'), ascending=False, inplace=True)
df_fleet_trip_no

                                ride_id
                                    len
fleet
Elife                               379
Safe Transfer Service LLC           134
Yorvis Hernndez                    107
xiaorong wu                          46
Lumasini Transportation              36
CARLOS RODRIGO BELTRAN LOPEZ         27
Maudeline DiogeneCharles             21
Joao Moraes                          19
Ucruise Luxury Transportation        10
wagner Valladao de Araujo Filho       8
Leonardo Carvalhal de Aguiar          8
Min Xu                                7
Orlando xu's team                     6
xinghanzhou                           5
Joshua p suhr                         4
DMS Car Service                       3
Mitchell Nicasio                      3
Driveon ML                            3
Bingsheng luo                         2
Junior Blake                          2
Ab Chauffeur                          1
Fraine Zorrilla                       1
Solange                               1

In [161]:
df_big_fleets = df_fleet_trip_no[df_fleet_trip_no[('ride_id','len')] >100]
df_big_fleets

                          ride_id
                              len
fleet
Elife                         379
Safe Transfer Service LLC     134
Yorvis Hernndez              107

In [163]:
df_big_fleet_data = []
for f in df_big_fleets.index:
    print(f)
    df_big_fleet_data.append(df_training[df_training['fleet'] == f])

Elife
Safe Transfer Service LLC
Yorvis Hernndez

In [164]:
df_big_fleet_data[0]

,ride_id,trip_type,trip_no,trip_count,ride_status,partner,fleet,start_place,end_place,passenger_count,luggage_count,dispatch_amount,dispatch_currency,distance,duration,vehicle_class,from_datetime_tz,cent_price_per_km
2,3302091,point2point,-1,1,Pending,Book Taxi,Elife,Orlando Sanford International Airport,"12235 Regency Village Dr, Orlando, FL 32821, USA",4,0.0,159.60,USD,77232,3328,MPV-5,2024-03-12 09:55:00-04:00,0.206650
3,3302091,point2point,-1,1,Pending,Book Taxi,Elife,Orlando Sanford International Airport,"12235 Regency Village Dr, Orlando, FL 32821, USA",4,0.0,159.60,USD,77232,3328,MPV-5,2024-03-12 09:55:00-04:00,0.206650
4,3324918,point2point,-1,1,Pending,KKDay,Elife,Orlando International Airport,Towneplace Suites Orlando Downtown,4,4.0,67.00,USD,17924,1323,MPV-5,2024-03-26 14:53:00-04:00,0.373800
5,3324918,point2point,-1,1,Pending,KKDay,Elife,Orlando International Airport,Towneplace Suites Orlando Downtown,4,4.0,67.00,USD,17924,1323,MPV-5,2024-03-26 14:53:00-04:00,0.373800
8,3074203,None,-1,1,Cancelled,Book Taxi,Elife,Orlando International Airport,"Hard Rock Hotel at Universal Orlando, 5800 Uni...",5,0.0,60.20,USD,27843,1370,MPV-5,2024-02-18 12:00:00-05:00,0.216212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,3274112,point2point,-1,1,Cancelled,Booking,Elife,Universals Endless Summer Resort - Dockside I...,"Orlando International Airport (MCO), 1 Jeff Fu...",3,3.0,40.88,USD,24652,1470,MPV-5,2024-03-23 16:15:00-04:00,0.165828
835,3274112,point2point,-1,1,Cancelled,Booking,Elife,Universals Endless Summer Resort - Dockside I...,"Orlando International Airport (MCO), 1 Jeff Fu...",3,3.0,40.88,USD,24652,1470,MPV-5,2024-03-23 16:15:00-04:00,0.165828
840,3121321,point2point,-1,1,Pending,Booking,Elife,"13351 FL-535, 13351 FL-535, Orlando, FL 32821,...","Orlando International Airport (MCO), 1 Jeff Fu...",2,2.0,51.00,USD,27047,1286,MPV-5,2024-01-20 17:30:00-05:00,0.188561
841,3121321,point2point,-1,1,Pending,Booking,Elife,"13351 FL-535, 13351 FL-535, Orlando, FL 32821,...","Orlando International Airport (MCO), 1 Jeff Fu...",2,2.0,51.00,USD,27047,1286,MPV-5,2024-01-20 17:30:00-05:00,0.188561
843,3099498,None,-1,1,Cancelled,Booking,Elife,DoubleTree Suites by Hilton Orlando - Disney S...,"Orlando International Airport (MCO), 1 Jeff Fu...",2,2.0,51.85,USD,28354,1344,MPV-5,2024-01-05 16:00:00-05:00,0.182867

In [165]:
df_big_fleet_data[1]

,ride_id,trip_type,trip_no,trip_count,ride_status,partner,fleet,start_place,end_place,passenger_count,luggage_count,dispatch_amount,dispatch_currency,distance,duration,vehicle_class,from_datetime_tz,cent_price_per_km
9,3156301,point2point,0,1,Pending,Booking,Safe Transfer Service LLC,"Buena Vista Suites Orlando, 8203 World Center ...","Brightline Orlando Station, 10705 Jeff Fuqua B...",2,2.0,49.5,USD,25297,1829,MPV-5,2024-01-21 06:45:00-05:00,0.195675
10,3156301,point2point,0,1,Pending,Booking,Safe Transfer Service LLC,"Buena Vista Suites Orlando, 8203 World Center ...","Brightline Orlando Station, 10705 Jeff Fuqua B...",2,2.0,49.5,USD,25297,1829,MPV-5,2024-01-21 06:45:00-05:00,0.195675
25,3136707,None,0,1,Cancelled,Book Taxi,Safe Transfer Service LLC,Orlando International Airport,The Grove Resort & Water Park Orlando,5,0.0,70.0,USD,45658,2352,MPV-5,2024-02-23 20:23:00-05:00,0.153314
26,3136707,None,0,1,Cancelled,Book Taxi,Safe Transfer Service LLC,Orlando International Airport,The Grove Resort & Water Park Orlando,5,0.0,70.0,USD,45658,2352,MPV-5,2024-02-23 20:23:00-05:00,0.153314
33,3238580,point2point,0,1,Pending,Booking,Safe Transfer Service LLC,Universals Endless Summer Resort - Dockside I...,"Orlando International Airport (MCO), 1 Jeff Fu...",5,5.0,42.0,USD,24652,1528,MPV-5,2024-04-13 14:30:00-04:00,0.170372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832,3329995,point2point,0,1,Pending,Book Taxi,Safe Transfer Service LLC,Orlando International Airport,"G5 - BEST WESTERN Orlando Gateway, Orlando, FL...",5,0.0,45.0,USD,24324,1349,MPV-5,2024-03-21 15:55:00-04:00,0.185002
833,3329995,point2point,0,1,Pending,Book Taxi,Safe Transfer Service LLC,Orlando International Airport,"G5 - BEST WESTERN Orlando Gateway, Orlando, FL...",5,0.0,45.0,USD,24324,1349,MPV-5,2024-03-21 15:55:00-04:00,0.185002
838,3121321,point2point,0,1,Pending,Booking,Safe Transfer Service LLC,"13351 FL-535, 13351 FL-535, Orlando, FL 32821,...","Orlando International Airport (MCO), 1 Jeff Fu...",2,2.0,42.0,USD,27047,1286,MPV-5,2024-01-20 17:30:00-05:00,0.155285
839,3121321,point2point,0,1,Pending,Booking,Safe Transfer Service LLC,"13351 FL-535, 13351 FL-535, Orlando, FL 32821,...","Orlando International Airport (MCO), 1 Jeff Fu...",2,2.0,42.0,USD,27047,1286,MPV-5,2024-01-20 17:30:00-05:00,0.155285
842,3099498,None,0,1,Cancelled,Booking,Safe Transfer Service LLC,DoubleTree Suites by Hilton Orlando - Disney S...,"Orlando International Airport (MCO), 1 Jeff Fu...",2,2.0,42.0,USD,28354,1344,MPV-5,2024-01-05 16:00:00-05:00,0.148127

In [ ]:
df_big_fleet_data[2]

In [118]:

# df_training['average_cent_per_km'] = df_training.groupby('fleet').apply(average_cent_per_km)
df_analysis = df_training.groupby('fleet').apply(average_cent_per_km)
df_analysis

/tmp/ipykernel_75471/1947807081.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_analysis = df_training.groupby('fleet').apply(average_cent_per_km)

                                  ride_id    trip_type  trip_no  trip_count  \
fleet
Ab Chauffeur                 587  3084481         None        0           1
Bingsheng luo                689  3154426  point2point        0           1
                             690  3154426  point2point        0           1
CARLOS RODRIGO BELTRAN LOPEZ 55   3062624         None        0           1
                             56   3062624         None        0           1
...                                   ...          ...      ...         ...
xinghanzhou                  155  3272264  point2point        0           1
                             156  3272264  point2point        0           1
                             746  3143936  point2point        0           1
                             747  3143936  point2point        0           1
                             748  3143936  point2point        0           1

                                 ride_status      partner  \
fleet
Ab Chauffeur                 587     Pending      Booking
Bingsheng luo                689     Pending  China Ctrip
                             690     Pending  China Ctrip
CARLOS RODRIGO BELTRAN LOPEZ 55    Cancelled    Book Taxi
                             56    Cancelled    Book Taxi
...                                      ...          ...
xinghanzhou                  155     Pending  China Ctrip
                             156     Pending  China Ctrip
                             746     Pending  China Ctrip
                             747     Pending  China Ctrip
                             748     Pending  China Ctrip

                                                         fleet  \
fleet
Ab Chauffeur                 587                  Ab Chauffeur
Bingsheng luo                689                 Bingsheng luo
                             690                 Bingsheng luo
CARLOS RODRIGO BELTRAN LOPEZ 55   CARLOS RODRIGO BELTRAN LOPEZ
                             56   CARLOS RODRIGO BELTRAN LOPEZ
...                                                        ...
xinghanzhou                  155                   xinghanzhou
                             156                   xinghanzhou
                             746                   xinghanzhou
                             747                   xinghanzhou
                             748                   xinghanzhou

                                                                        start_place  \
fleet
Ab Chauffeur                 587  Orlando International Airport (MCO), 1 Jeff Fu...
Bingsheng luo                689  Orlando International Airport B (Orlando Inter...
                             690  Orlando International Airport B (Orlando Inter...
CARLOS RODRIGO BELTRAN LOPEZ 55                       Orlando International Airport
                             56                       Orlando International Airport
...                                                                             ...
xinghanzhou                  155  Terminal C of Orlando International Airport(Te...
                             156  Terminal C of Orlando International Airport(Te...
                             746  Terminal C of Orlando International Airport (T...
                             747  Terminal C of Orlando International Airport (T...
                             748  Terminal C of Orlando International Airport (T...

                                                                          end_place  \
fleet
Ab Chauffeur                 587  Universal's Loews Portofino Bay Hotel, 5601 Un...
Bingsheng luo                689   -  - IHG (Holiday Inn Orlan...
                             690   -  - IHG (Holiday Inn Orlan...
CARLOS RODRIGO BELTRAN LOPEZ 55       7460 International Dr, Orlando, FL 32819, USA
                             56       7460 International Dr, Orlando, FL 32819, USA
...                                                                             ...
xinghanzhou                  155   - (Wyndham Garden Orlando U...
                             156   - (Wyndham Garden Orlando U...
                             746  Signia by Hilton Orlando Bonnet Creek (/...
                             747  Signia by Hilton Orlando Bonnet Creek (/...
                             748  Signia by Hilton Orlando Bonnet Creek (/...

                                  passenger_count  luggage_count  \
fleet
Ab Chauffeur                 587                2            2.0
Bingsheng luo                689                3            3.0
                             690                3            3.0
CARLOS RODRIGO BELTRAN LOPEZ 55                 5            0.0
                             56                 5            0.0
...                                           ...            ...
xinghanzhou                  155                6            6.0
                             156                6            6.0
                             746                5            5.0
                             747                5            5.0
                             748                5            5.0

                                  dispatch_amount dispatch_currency  distance  \
fleet
Ab Chauffeur                 587             45.0               USD     29746
Bingsheng luo                689             65.0               USD     28898
                             690             65.0               USD     28898
CARLOS RODRIGO BELTRAN LOPEZ 55              43.0               USD     24160
                             56              43.0               USD     24160
...                                           ...               ...       ...
xinghanzhou                  155             55.0               USD     30548
                             156             55.0               USD     30548
                             746             65.0               USD     31849
                             747             65.0               USD     31849
                             748             65.0               USD     31849

                                  duration vehicle_class  \
fleet
Ab Chauffeur                 587      1452         MPV-5
Bingsheng luo                689      1431         MPV-5
                             690      1431         MPV-5
CARLOS RODRIGO BELTRAN LOPEZ 55       1274         MPV-5
                             56       1274         MPV-5
...                                    ...           ...
xinghanzhou                  155      1471         MPV-5
                             156      1471         MPV-5
                             746      1740         MPV-5
                             747      1740         MPV-5
                             748      1740         MPV-5

                                           from_datetime_tz  \
fleet
Ab Chauffeur                 587  2024-01-16 23:20:00-05:00
Bingsheng luo                689  2024-01-21 00:19:00-05:00
                             690  2024-01-21 00:19:00-05:00
CARLOS RODRIGO BELTRAN LOPEZ 55   2024-01-20 16:48:00-05:00
                             56   2024-01-20 16:48:00-05:00
...                                                     ...
xinghanzhou                  155  2024-03-02 11:27:00-05:00
                             156  2024-03-02 11:27:00-05:00
                             746  2024-01-17 13:54:00-05:00
                             747  2024-01-17 13:54:00-05:00
                             748  2024-01-17 13:54:00-05:00

                                  cent_price_per_km  average_cent_per_km  \
fleet
Ab Chauffeur                 587           0.151281             0.151281
Bingsheng luo                689           0.224929             0.224929
                             690           0.224929             0.224929
CARLOS RODRIGO BELTRAN LOPEZ 55            0.177980             0.159873
                             56            0.177980             0.159873
...                                             ...                  ...
xinghanzhou                  155           0.180045             0.194471
                             156           0.180045             0.194471
                             746           0.204088             0.194471
                             747           0.204088             0.194471
                             748           0.204088             0.194471

                                  fleet_trip_no
fleet
Ab Chauffeur                 587              1
Bingsheng luo                689              2
                             690              2
CARLOS RODRIGO BELTRAN LOPEZ 55              27
                             56              27
...                                         ...
xinghanzhou                  155              5
                             156              5
                             746              5
                             747              5
                             748              5

[833 rows x 20 columns]

In [108]:

df_training

,ride_id,trip_type,trip_no,trip_count,ride_status,partner,fleet,start_place,end_place,distance,duration,vehicle_class,passenger_count,luggage_count,dispatch_amount,dispatch_currency,from_datetime_tz,cent_price_per_km
0,3302091,point2point,0,1,Pending,Book Taxi,Leonardo Carvalhal de Aguiar,Orlando Sanford International Airport,"12235 Regency Village Dr, Orlando, FL 32821, USA",77232,3328,MPV-5,4,0.0,83.36,USD,2024-03-12 09:55:00-04:00,0.107935
1,3302091,point2point,0,1,Pending,Book Taxi,Leonardo Carvalhal de Aguiar,Orlando Sanford International Airport,"12235 Regency Village Dr, Orlando, FL 32821, USA",77232,3328,MPV-5,4,0.0,83.36,USD,2024-03-12 09:55:00-04:00,0.107935
2,3302091,point2point,-1,1,Pending,Book Taxi,Elife,Orlando Sanford International Airport,"12235 Regency Village Dr, Orlando, FL 32821, USA",77232,3328,MPV-5,4,0.0,159.60,USD,2024-03-12 09:55:00-04:00,0.206650
3,3302091,point2point,-1,1,Pending,Book Taxi,Elife,Orlando Sanford International Airport,"12235 Regency Village Dr, Orlando, FL 32821, USA",77232,3328,MPV-5,4,0.0,159.60,USD,2024-03-12 09:55:00-04:00,0.206650
4,3324918,point2point,-1,1,Pending,KKDay,Elife,Orlando International Airport,Towneplace Suites Orlando Downtown,17924,1323,MPV-5,4,4.0,67.00,USD,2024-03-26 14:53:00-04:00,0.373800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,3121321,point2point,0,1,Pending,Booking,Safe Transfer Service LLC,"13351 FL-535, 13351 FL-535, Orlando, FL 32821,...","Orlando International Airport (MCO), 1 Jeff Fu...",27047,1286,MPV-5,2,2.0,42.00,USD,2024-01-20 17:30:00-05:00,0.155285
840,3121321,point2point,-1,1,Pending,Booking,Elife,"13351 FL-535, 13351 FL-535, Orlando, FL 32821,...","Orlando International Airport (MCO), 1 Jeff Fu...",27047,1286,MPV-5,2,2.0,51.00,USD,2024-01-20 17:30:00-05:00,0.188561
841,3121321,point2point,-1,1,Pending,Booking,Elife,"13351 FL-535, 13351 FL-535, Orlando, FL 32821,...","Orlando International Airport (MCO), 1 Jeff Fu...",27047,1286,MPV-5,2,2.0,51.00,USD,2024-01-20 17:30:00-05:00,0.188561
842,3099498,None,0,1,Cancelled,Booking,Safe Transfer Service LLC,DoubleTree Suites by Hilton Orlando - Disney S...,"Orlando International Airport (MCO), 1 Jeff Fu...",28354,1344,MPV-5,2,2.0,42.00,USD,2024-01-05 16:00:00-05:00,0.148127
843,3099498,None,-1,1,Cancelled,Booking,Elife,DoubleTree Suites by Hilton Orlando - Disney S...,"Orlando International Airport (MCO), 1 Jeff Fu...",28354,1344,MPV-5,2,2.0,51.85,USD,2024-01-05 16:00:00-05:00,0.182867

In [60]:
#| hide
import nbdev; nbdev.nbdev_export()